body{
  background-color: rgb(226, 221, 221);
}

.header {
  color:blueviolet;
  font-weight: 50px;
  font-size: 100px;
}

.atctiveImage__wrapper {
  height: 200px;
  align-content: center;
}

.activeText{
  display: inline-block;
  background-color: grey;
  padding:0px 10px;
  height:100%;
  width: 150px;
  align-items: center;
}

.activeImage{
  background-color: grey;
  height:100%;
}

.image{
  align-self: center;
  margin: 10px 10px;
}

.margin--top--25 {
  margin-top: 25px;
}